<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Good) Exercises</span></div>

#### Exercise 1

In [2]:
for i in range(10):
    print(i % 2 == 0)

True
False
True
False
True
False
True
False
True
False

In [ ]:
list = []
for i in range(1,11):
    if i % 2 == 0:
        continue # to the next element in the range
    list.append(i**2)
print(list)

[1, 9, 25, 49, 81]

In [ ]:
list = [] + [1] # adds values to empty list
list

[1]

#### Exercise 2

In [ ]:
[number**2 for number in range(1,11) if number % 2 != 0]
## output is the first variable in this list
## conditions added at the end of syn†ax
## not equals to in Python is !=

[1, 9, 25, 49, 81]

#### Exercise 3

In [ ]:
%%timeit
list = []
for i in range(1,11):
    if i % 2 == 0:
        continue # to the next element in the range, can use "break" too
    list.append(i**2)
## why is it endlessly running... do I just leave it...?
#### it runs endlessly when you ask it to print (list) at the end...

757 ns ± 23.6 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [34]:
%%timeit
[number**2 for number in range(1,11) if number % 2 != 0]

799 ns ± 27.8 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

Which one is faster? 

Answer: The for loop with range and continue functions is slightly faster

#### Exercise 4

In [ ]:
## "while loop" keeps running while a condition is true!
## if condition is unmet, loop will stop running (truncate?)

In [4]:
quantity = 100
quantity>=50

True

In [ ]:
list_100 = []
for i in range(1,101):
    list_100.append(i)
print(list_100)
## I just realised the list will only give me individual whole numbers
## I dont think this will be useful to me...

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [4]:
quantity = 100
count = 0
while quantity >= 50:
        count += 1
        quantity = quantity*(95/100)
print(f'{count}, {new_quantity}')

14, 48.76749791155295

It takes 13 years for the radioactive substance to be reduced to almost half its original amount, and 14 years for it to fall below half its original amount for the first time.

#### Exercise 5

In [3]:
import numpy as np

In [4]:
co2_data = [
    (2000, 369.55), (2001, 371.14), (2002, 373.28), 
    (2003, 375.80), (2004, 377.52), (2005, 379.80), 
    (2006, 381.90), (2007, 383.79), (2008, 385.60), 
    (2009, 387.43), (2010, 389.90), (2011, 391.65), 
    (2012, 393.85), (2013, 396.52), (2014, 398.65),
    (2015, 400.83), (2016, 404.24), (2017, 406.55), 
    (2018, 408.52), (2019, 411.44), (2020, 414.24)
]
co2_array = np.array(co2_data)
print(co2_array) 
## yay it makes the data into 2 columns!

[[2000.    369.55]
 [2001.    371.14]
 [2002.    373.28]
 [2003.    375.8 ]
 [2004.    377.52]
 [2005.    379.8 ]
 [2006.    381.9 ]
 [2007.    383.79]
 [2008.    385.6 ]
 [2009.    387.43]
 [2010.    389.9 ]
 [2011.    391.65]
 [2012.    393.85]
 [2013.    396.52]
 [2014.    398.65]
 [2015.    400.83]
 [2016.    404.24]
 [2017.    406.55]
 [2018.    408.52]
 [2019.    411.44]
 [2020.    414.24]]

In [5]:
co2_array[1] # gives row 2
co2_array[0,1] # gives second data in row 1
## How do I refer to specific data in each column of data in a for loop?

np.float64(369.55)

In [6]:
for year, co2 in co2_array:
    print(f'{year}, {co2}') 
# OH this allows access to each column of data 
# (instead of line number, first variable indexes the first column of data?)

2000.0, 369.55
2001.0, 371.14
2002.0, 373.28
2003.0, 375.8
2004.0, 377.52
2005.0, 379.8
2006.0, 381.9
2007.0, 383.79
2008.0, 385.6
2009.0, 387.43
2010.0, 389.9
2011.0, 391.65
2012.0, 393.85
2013.0, 396.52
2014.0, 398.65
2015.0, 400.83
2016.0, 404.24
2017.0, 406.55
2018.0, 408.52
2019.0, 411.44
2020.0, 414.24

In [ ]:
for year, co2 in co2_array:
    variable = co2 - co2_array[year-1, 1] ## dun work coz of "year" 
    if year - 1 == 0:
        continue ## lines 2 & 3 to account for the first row of data
    if variable == 3:
        print(year)
### need to come up with a way to make an index or some way to count
### to access my co2 elements.

In [ ]:
count = 1
for year, co2 in co2_array:
    variable = co2 - co2_array[count, 1]
    count += 1
    if count == 20:
            continue
    if variable == 3:
        print(year)
#! error because "continue" asks to access next element

IndexError: index 21 is out of bounds for axis 0 with size 21

In [65]:
count = 0
for year, co2 in co2_array:
    count += 1
    variable = co2_array[count, 1] - co2_array[count-1, 1]
    if variable >= 3:
        print(year)
    if count >= 20:
        break

2015.0

Hence, an increase in CO2 of 3 ppm or more compared to the previous year was only observed in 2015.

##### Below are alternative methods i was trying out but failed to figure out...

In [ ]:
for index, data in enumerate(co2_array):
    print(f'{index}, {data}')
# enumerate gives first variable as index, and groups data columns
# under the second variable

0, [2000.    369.55]
1, [2001.    371.14]
2, [2002.    373.28]
3, [2003.   375.8]
4, [2004.    377.52]
5, [2005.   379.8]
6, [2006.   381.9]
7, [2007.    383.79]
8, [2008.   385.6]
9, [2009.    387.43]
10, [2010.   389.9]
11, [2011.    391.65]
12, [2012.    393.85]
13, [2013.    396.52]
14, [2014.    398.65]
15, [2015.    400.83]
16, [2016.    404.24]
17, [2017.    406.55]
18, [2018.    408.52]
19, [2019.    411.44]
20, [2020.    414.24]

In [ ]:
for index, data in enumerate(co2_array):
    year, co2 = data.split() #! cannot use split bcoz "data" is not str
    print({year}, {co2})
    difference = co2 - co2_array[index, 1]
    if index == 0:
        continue
    if difference == 3:
        print(year)

AttributeError: 'numpy.ndarray' object has no attribute 'split'

In [ ]:
for index, data in enumerate(co2_array):
    year, co2 = np.split(data,2) # use np's split function instead? How?
    print({year}, {co2})
    difference = co2 - co2_array[index, 1]
    if index == 0:
        continue
    if difference == 3:
        print(year)

TypeError: unhashable type: 'numpy.ndarray'

In [20]:
for index, data in enumerate(co2_array):
    new_arrs = np.array_split(data)

TypeError: array_split() missing 1 required positional argument: 'indices_or_sections'